/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.background {
  display: none;
}

header a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.siteName {
  font-size: 2em;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  height: 3em;
}

nav li {
  list-style-type: none;
  font-size: 1.2em;
  color: white;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 3em;
  margin: 0;
  align-items: center;
}

.hero_div {
  display: grid;
  grid-template-columns: 190px 290px;
  width: 480px;
  margin: auto;
}

.hero_pro {
  grid-column: 1/2;
  grid-row: 1/2;
  background: rgba(255, 255, 255, 0.753);
  color: #20b9d6;
  height: 6auto;
  z-index: 2;
}

.hero_button {
  width: 80%;
}

.hero_img {
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 1;
  width: 480px;
}

.hero_title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 3px;
}

.hero_p {
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
}

.upgrade_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.upgrade_title {
  grid-column: 1/3;
  margin-right: auto;
}

.upgrade_img_container {
  background-color: #01b0d3;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.upgrade_img {
  margin: auto;
}

@media screen and (min-width: 1200px){
  body {
    background-image: url('../images/site/checkerboard.jpg');
  }

  #wrapper {
    background-color: white;
    width: 55%;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-color: #01b0d3;
    height: 700px;
    border-radius: 5px;
  }

  .div_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero_div {
    grid-column: 1/3;
    width: 70%;
    margin: auto;
  }

  .main_title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero_img {
    margin-left: 10%;
  }
  
  .hero_pro {
    margin-left: 10%;
  }

  .review_div {
    zoom: 80%;
    grid-column: 2/3;
  }

  .upgrade_div {
    zoom: 80%;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main_title {
    zoom: 80%;
    width: 95%;
    margin: auto;
    margin-top: 5px;
  }

  footer {
    zoom: 80%;
  }

  header {
    zoom: 80%;
    margin: 5px;
  }

  nav {
    width: 95%;
    margin: auto;
  }

  .review {
    margin-bottom: 20px;
  }

  .upgrade_title {
    margin-left: 5%;
  }

  .review_title {
    margin-left: 5%;
  }
}