<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>


<%- messages() %>

<a href="/inv/add-classification" class="new_classification">Add New Classification</a>
<a href="/inv/add-inventory" class="new_car">Add Vew Car</a>